# Ignore compiled class files
bin/
*.class

# Ignore VS Code configuration and workspace files
.vscode/
*.code-workspace

# Ignore IDE-specific files
*.iml
.idea/


bin/App.class
bin/ProyectMain/Client.class
bin/ProyectMain/Seat.class
bin/ProyectMain/Stadium.class
